.course_content{
    width: 1300px;
    padding: 0;
    margin: auto;
    border: 3px solid black;
  }
.udemy_header{
    margin-left: 25px;
    margin-top: 30px;
 }
 .udemy_description{
    margin-left: 25px;
  }
  .explore_course{
    background-color: white;
    height: 40px;
    font-weight: bold;
    margin: 10px 25px;
  }
  .course_type{
    padding: 10px 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  