.stars{
    color: #e59819;
    padding-right: 6px ;
  }
  .course_image{
    width: 100%;
  }
  .bestseller{
    color: black;
    background-color: rgb(233, 233, 143);
    padding: 0px 8px;
    font-size: small;
  }
.instructor_name{
    color: green;
}
.course-data{
    width: 240px;
  }
.course_price,.course_title{
    margin: 3px;
    color: black;
}
.instructor_name,.people{
    color: gray;
    margin: 3px;
  }
  
.courses{
    margin: 15px  15px;
    border: 1px solid red;
    width: 17.4%;
  }
  @media only screen and (max-width: 1400px) {  
    .courses{
      width: 22.1%;
    } 
}
@media only screen and (max-width: 1144px) {
    .courses{
        width: 29.8%;
      } 
}

@media only screen and (max-width: 1000px) {

    .courses{
      width: 45%;
    } 
}
@media only screen and (max-width: 700px) {

  
    .courses{
      width: 90%;
    } 
}  