.background{
    height: 390px;
    background-color: #1c1d1f;
    display: flex;
    justify-content: center;
}
.container{
    /* border: 1px solid red; */
    width: 1284px;
    margin: 22px 8px;
}
.Section{
    margin-right: 480px;
    padding-left: 80px;
    /* border: 1px solid blue; */
}
.Introduction{
    color: white;
    margin-top: 10px;
    font-size: larger;
}
.Instuctor{
    margin-top: 3px;
    color: white;
}
.CourseName{
    color: white;
    margin-top: 15px;
}
.students{
    color: white;
    margin-left: 3px;
}
.CountStars{
    margin-top: 8px;
}
.instructor_name{
    color: #cec0fc;
}
.dataview{
    color: #cec0fc;
    margin-top: 100px;
}
.LastUpdate{
    margin-top: 3px;

    color: white;
}
/*
1108
*/