.lol{
    margin-top: 10px;
}
.accordion{
    background-color: #f7f9fa;
}
.Time{
    float: right;
}
.Route_img{
transform: rotate(180deg);
margin-right: 5px;
}  

.Return_img{
    transform: rotate(0);
    margin-right: 5px;
      
}
.show{
    width: 100%;
    background-color: #f7f9fa;
    text-align: center;
    margin-top: 14px;
}