.Learn{
    border: 1px solid #d1d7dc;
    color: black;
    max-width: 750px;
    margin-top: 20px;
}
.container{
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}
.item{
    flex: 40%; 
    margin-left: 20px;
    margin-bottom: 10px;
}

.ContentHeader{
    padding-left: 25px;
    padding-top: 10px;
}
.line{
    color: #1c1d1f;
    padding: 6px;
    font-size: medium;
    font-weight: 400;
}
@media only screen and (max-width : 600px) {
    .item{
        flex: 100%;     
        margin-bottom: 10px;
    }
}

